:root {
  --background-color: #202020;
  --accent-color: #bfe55e;
  --sub-title: #cbcbcb;
  --text: #ffffff;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff), url(../fonts/Inter-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff), url(../fonts/Inter-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Light.woff), url(../fonts/OpenSans-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Medium.woff), url(../fonts/OpenSans-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-MediumItalic.woff),
    url(../fonts/OpenSans-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff), url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
}
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*# sourceMappingURL=/sm/b8ae781793ee4eb86edef3f2a2ac43a5575d063ed8cd287d7553f9f1b2776616.map */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

[class$="__container"] {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--background-color);
  color: var(--text);
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.title {
  font-family: "OpenSans", sans-serif;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-style: italic;
}

.btn {
  padding: 0.562rem 0.781rem;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--background-color);
  color: var(--text);
  font-size: 1.125rem;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 767.98px) {
  [class$="__container"] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .title {
    font-size: 3.037rem;
  }
}
@media screen and (min-width: 1199.98px) {
  [class$="__container"] {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__wrapper {
  padding-top: 25px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list-menu {
  display: none;
}

.header__logo-image {
  width: 7.25rem;
  height: 2.25rem;
}

.header__btn-menu-open {
  width: 1.5rem;
  height: 2.25rem;
  fill: #04c065;
}
.header__btn-menu-open > use {
  fill: #04c065;
}

.header__btn-mobile-menu {
  width: 3.125rem;
  border: none;
  background-color: transparent;
}

.header {
  position: relative;
}

.header-mobile__menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  background-color: var(--accent-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile__menu.is-open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.lock {
  overflow: hidden;
}

.header-mobile__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 1.562rem;
  padding-bottom: 17vh;
  height: 100%;
}

.header-mobile__img {
  width: 2.812rem;
  height: 2.812rem;
}

.header-mobile__btn-close {
  position: absolute;
  right: -0.0625rem;
  top: 1.3125rem;
  display: inline-block;
  padding: 0;
  border: transparent;
  background-color: transparent;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header-mobile__title {
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 3.75rem;
  color: black;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

.header-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 2.187rem;
  text-transform: uppercase;
}

.header-mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5625rem 1rem;
  border: 1px solid #202020;
  border-radius: 30px;
  width: 7.127rem;
  color: var(--background-color);
  font-size: 1.125rem;
  cursor: pointer;
  -webkit-transition: color 250ms ease, background-color 250ms ease,
    -webkit-box-shadow 250ms ease;
  transition: color 250ms ease, background-color 250ms ease,
    -webkit-box-shadow 250ms ease;
  transition: color 250ms ease, background-color 250ms ease,
    box-shadow 250ms ease;
  transition: color 250ms ease, background-color 250ms ease,
    box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
}
.header-mobile__item:hover {
  background-color: antiquewhite;
  color: #8451d6;
  -webkit-box-shadow: 1px 1px 6px 0px rgb(66, 68, 90);
  box-shadow: 1px 1px 6px 0px rgb(66, 68, 90);
}

.header-mobile__list-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.75;
}
.header-mobile__list-social::before {
  position: absolute;
  top: -28px;
  content: "";
  width: 100%;
  border: 1px solid #202020;
}

.header-mobile__item-social {
  color: var(--background-color);
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (max-width: 325.98px) {
  .header-mobile__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-height: 620px) {
  .header-mobile__list {
    row-gap: 1rem;
  }
  .header-mobile__list-social::before {
    position: absolute;
    top: -5px;
    content: "";
    width: 100%;
    border: 1px solid #202020;
  }
}
@media screen and (max-height: 492px) {
  .header-mobile__list-social::before {
    top: 1px;
  }
  .header-mobile__title {
    font-size: 2.5rem;
    margin-top: -1.874rem;
  }
}
@media screen and (min-width: 767.98px) {
  .header__btn-mobile-menu {
    display: none;
  }
  .header__wrapper-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__list-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__item-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 7.187rem;
  }
}
@media screen and (min-width: 991.98px) {
  .header__list-menu {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }
  .header__wrapper {
    padding-top: 3.125rem;
  }
}
.heroise {
  padding-top: 2.813rem;
}

.heroise__title {
  font-style: italic;
  font-weight: 500;
  font-size: 3.75rem;
  margin-bottom: 1.875rem;
}

.heroise__sub-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 4.375rem;
}

.heroise__accents-text {
  color: var(--accent-color);
  font-style: italic;
}

.heroise_wrapper-img {
  display: block;
  position: relative;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.95));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.95));
  margin-bottom: 2.5rem;
}
.heroise_wrapper-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    29.58deg,
    rgba(191, 229, 95, 0.075) 22.75%,
    rgba(217, 217, 217, 0) 64%
  );
}

.heroise__icon {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .heroise__title {
    font-size: 4.55rem;
    margin-bottom: 0;
    width: 46.129%;
    margin-right: 7.661%;
  }
  .heroise__sub-title {
    font-size: 1.5rem;
    width: 46.774%;
    margin-bottom: 0;
  }
  .heroise__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3.125rem;
  }
  .heroise__wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3.425rem;
  }
  .heroise__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heroise__icon {
    display: block;
    margin: 0 auto;
    width: 2.87rem;
    height: 2.87rem;
    stroke: var(--sub-title);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@media screen and (min-width: 1199.98px) {
  .heroise__title {
    font-size: 6.55rem;
    margin-bottom: 0;
    width: 46.129%;
    margin-right: 7.661%;
  }
  .heroise__sub-title {
    font-size: 1.8rem;
    width: 46.774%;
    margin-bottom: 0;
  }
  .heroise_wrapper-img {
    margin-bottom: 3.125rem;
  }
}
.advantages {
  padding-top: 4.372rem;
}

.advantages__title {
  margin-bottom: 2.187rem;
}
.advantages__title::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 2.187rem;
}

.advantages__text {
  text-transform: uppercase;
  font-size: 1.875rem;
  color: var(--sub-title);
  margin-bottom: 1.1rem;
}
.advantages__text::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 2.187rem;
}

.list__numbers {
  font-size: 1.25rem;
  color: var(--sub-title);
  margin-bottom: 0.375rem;
}

.list__text {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  width: 82.29%;
  margin-right: 8.855%;
  margin-left: 8.855%;
}

.list__advantages-item:last-child::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.list__advantages-item:last-child > .list__text {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 767.98px) {
  .advantages__title {
    margin-bottom: 4.375rem;
  }
  .advantages__title::after {
    margin-top: 4.375rem;
  }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
  }
  .advantages__text {
    padding-top: 3.15rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
    border-top: 1px solid #f3ffce;
    margin-bottom: 0;
  }
  .advantages__text::after {
    display: none;
  }
  .advantages__wrapper-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
    border-top: 1px solid #f3ffce;
    padding-top: 1.275rem;
  }
  .advantages__title::after {
    display: none;
  }
  .list__numbers {
    font-size: 1.05rem;
    margin-bottom: 0.375rem;
  }
  .list__text {
    margin-bottom: 0.625rem;
    font-size: 1.6rem;
    width: 82.29%;
    margin-right: 8.855%;
    margin-left: 8.855%;
  }
  .advantages {
    padding-top: 10rem;
  }
}
.numbers {
  padding-top: 4.375rem;
}

.numbers__title {
  margin-bottom: 2.187rem;
}

.numbers__item::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0.625rem;
  margin-bottom: 2.187rem;
}
.numbers__item:last-child::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0.625rem;
  margin-bottom: 0;
}

.numbers__wrapper-text {
  margin-left: 21.57%;
}

.numbers__text-numbers {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.numbers__text {
  color: var(--sub-title);
  font-size: 1.25rem;
}

@media screen and (min-width: 767.98px) {
  .numbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
    row-gap: 4.375rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: end;
  }
  .numbers__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }
  .numbers__item:last-child {
    text-align: start;
  }
  .numbers__item:nth-child(1) {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }
  .numbers__item:nth-child(3) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    text-align: start;
  }
  .numbers__text-numbers {
    font-size: 1.7rem;
    margin-bottom: 1.25rem;
  }
  .numbers__text {
    color: var(--sub-title);
    font-size: 1.475rem;
  }
  .numbers__item {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #f3ffce;
  }
  .numbers__item::after {
    display: none;
  }
  .numbers__item:last-child::after {
    display: none;
  }
  .numbers__wrapper-text {
    margin-left: 0;
  }
  .numbers {
    padding-top: 10rem;
  }
}
.services {
  padding-top: 4.375rem;
}

.services__title {
  margin-bottom: 2.187rem;
}

.services__text {
  font-size: 1.25rem;
  margin-bottom: 2.187rem;
  color: var(--sub-title);
  text-transform: uppercase;
}

.list__services-image {
  position: absolute;
  right: 0;
  bottom: 2.187rem;
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--sub-title);
}

.list__item-relative {
  position: relative;
}

.list__services {
  border-top: 1px solid #f3ffce;
  padding-top: 1.25rem;
}

.list__item-after {
  margin-bottom: 1.125rem;
}
.list__item-after:nth-child(2)::before {
  z-index: -1;
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  min-height: 80px;
  background-image: linear-gradient(
      146.53deg,
      rgba(191, 229, 95, 0.015) 36.82%,
      rgba(255, 255, 255, 0) 80.1%
    ),
    url(../../images/picture/services/Rectangle-37-min.png);
  background-size: 6.562rem 5rem;
  background-repeat: no-repeat;
  background-position: 68% 0;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.list__item-after:last-child {
  margin-bottom: 0;
}
.list__item-after:last-child::before {
  z-index: -1;
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  min-height: 80px;
  background-image: linear-gradient(
      146.53deg,
      rgba(191, 229, 95, 0.015) 36.82%,
      rgba(255, 255, 255, 0) 80.1%
    ),
    url(../../images/picture/services/Rectangle-38-min.png);
  background-size: 6.562rem 5rem;
  background-repeat: no-repeat;
  background-position: 83% 0;
}
.list__item-after::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 0.5px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .list__item-after:nth-child(2)::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-37@2x-min.png);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx),
  (min-width: 767.98px) {
  .list__item-after:nth-child(2)::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-37@3x-min.png);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .list__item-after:last-child::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-38@2x-min.png);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx),
  (min-width: 767.98px) {
  .list__item-after:last-child::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-38@3x-min.png);
  }
}
@media screen and (min-width: 767.98px) {
  .services {
    padding-top: 10rem;
  }
  .services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
    margin-bottom: 4.375rem;
  }
  .services__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }
  .services__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }
  .list__services-image {
    width: 2.875rem;
    height: 2.875rem;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .list__item-after:nth-child(2)::before {
    top: 0;
    right: 0;
    -webkit-transform: translate(0, -32.156%);
    transform: translate(0, -32.156%);
    min-height: 167px;
    background-size: 231px 167px;
    background-position: 68% 0px;
  }
  .list__item-after:last-child::before {
    top: 0;
    right: 0;
    -webkit-transform: translate(0, -32.156%);
    transform: translate(0, -32.156%);
    width: 100%;
    min-height: 167px;
    background-size: 231px 167px;
    background-position: 83% 0;
  }
}
.work {
  padding-top: 4.375rem;
}

.work__title {
  margin-bottom: 2.187rem;
}

.work__subtitle {
  margin-bottom: 2.187rem;
  font-size: 1.25rem;
  color: var(--sub-title);
  text-transform: uppercase;
}

.work__item::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 0.625rem;
}
.work__item:last-child::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 0;
}

@media screen and (min-width: 767.98px) {
  .work__wrapper {
    width: 50%;
  }
  .work {
    padding-top: 10rem;
  }
  .work__item::after {
    margin-bottom: 1.25rem;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
    row-gap: 4.375rem;
    border-top: none;
  }
  .work__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 12.5rem) / 3);
    flex: 1 1 calc((100% - 12.5rem) / 3);
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-top: 1px solid #f3ffce;
    padding-top: 1.25rem;
  }
  .work__item::after {
    display: none;
  }
  .work__item:last-child::after {
    display: none;
  }
  .work .list__text {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.team {
  padding-top: 4.375rem;
}

.team__title {
  margin-bottom: 2.187rem;
}

.team__image-wrapper {
  display: block;
  position: relative;
  margin-bottom: 2.187rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.95));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.95));
}
.team__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    29.58deg,
    rgba(191, 229, 95, 0.075) 22.75%,
    rgba(217, 217, 217, 0) 64%
  );
}

.team__subtitle {
  margin-bottom: 2.187rem;
  font-size: 1.25rem;
  color: var(--sub-title);
  text-transform: uppercase;
}

.team__text {
  font-size: 1.25rem;
}

@media screen and (min-width: 767.98px) {
  .team {
    padding-top: 10rem;
  }
  .team__title {
    margin-bottom: 4.375rem;
  }
  .team__wrapper {
    max-width: 64.032%;
  }
  .team__wrapper-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
}
@media screen and (min-width: 1199.98px) {
  .team__wrapper-main {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
  }
}
.customers {
  padding-top: 4.375rem;
}

.customers__title {
  margin-bottom: 2.187rem;
}

.customers__sub-title {
  margin-bottom: 2.187rem;
  font-size: 1.25rem;
  color: var(--sub-title);
  text-transform: uppercase;
}

.customers__item {
  position: relative;
}
.customers__item::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.customers__item:first-child::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #f3ffce;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.customers__item:last-child::after {
  margin-bottom: 0;
}

.customers__btn {
  position: absolute;
  right: 0;
  bottom: auto;
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--sub-title);
}

.customers__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.customers__check:checked ~ .customers__text {
  display: block;
}
.customers__check:checked + .customers__title-list {
  background-color: rgb(23, 65, 49);
}

.customers__text {
  display: none;
  padding: 1rem;
}

.customers__title-list {
  position: relative;
  display: block;
  padding: 1.25rem 0;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 767.98px) {
  .customers {
    padding-top: 10rem;
  }
  .customers__title {
    margin-bottom: 4.375rem;
  }
  .customers__btn {
    position: absolute;
    right: 0;
    width: 2.875rem;
    height: 2.875rem;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }
  .customers__title-list {
    padding: 2.5rem 0;
    font-size: 1.875rem;
  }
}
.footer {
  padding-top: 4.375rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
  color: var(--text);
}

.footer_title {
  margin-bottom: 2.187rem;
}

.footer__sub-title {
  margin-bottom: 2.187rem;
  font-size: 1.25rem;
  color: var(--sub-title);
  text-transform: uppercase;
}

.footer__address {
  text-decoration: none;
  font-style: normal;
  margin-bottom: 0.625rem;
  max-width: 10.25rem;
}

.footer__list {
  color: var(--text);
  text-decoration: none;
  max-width: 10.25rem;
}

.footer__item {
  text-decoration: none;
  margin-bottom: 0.625rem;
}

.footer__contact {
  text-decoration: none;
  color: var(--text);
}

.social__link {
  text-decoration: none;
  color: var(--text);
}

.footer__btn {
  display: block;
  margin: 0 auto;
}

.footer__button-top {
  text-decoration: none;
}

@media screen and (min-width: 767.98px) {
  .footer_wrapper-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
  }
  .footer_title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }
  .footer__sub-title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% - 6.25rem) / 2);
    flex: 1 1 calc((100% - 6.25rem) / 2);
    font-size: 2rem;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: auto;
    -webkit-column-gap: 7.625rem;
    -moz-column-gap: 7.625rem;
    column-gap: 7.625rem;
  }
  .footer__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc((100% - 40.875rem) / 4);
    flex: 0 1 calc((100% - 40.875rem) / 4);
    min-width: 167px;
  }
}
.backdrop__modal {
  padding: 1.562rem 1.25rem 4.062rem;
}

.backdrop__contact {
  margin-bottom: 1rem;
}

.backdrop__item {
  font-size: 1.875rem;
  text-transform: uppercase;
}

.backdrop__address {
  margin-bottom: 2.187rem;
  font-style: normal;
}

.backdrop__text {
  font-size: 1.25rem;
  color: var(--sub-title);
}

.backdrop__link {
  color: #616161;
  font-size: 0.9375rem;
}

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.062rem;
}

.form__item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc((100% - 1.125rem) / 2);
  flex: 1 1 calc((100% - 1.125rem) / 2);
}

.form__input {
  background-color: inherit;
  border: 1px solid #404040;
  padding: 0.625rem 1rem;
  color: var(--text);
  width: 100%;
}
.form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translate(0.625rem, -260%);
}
.form__input:not(:-ms-input-placeholder) + .form__label {
  transform: translate(0.625rem, -260%);
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translate(0.625rem, -260%);
  transform: translate(0.625rem, -260%);
}
.form__input:focus {
  outline: none;
  border: 1px solid var(--sub-title);
}

.form__label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0.625rem, -50%);
  transform: translate(0.625rem, -50%);
  color: var(--sub-title);
  font-size: 0.687rem;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 12.5rem;
  padding: 1rem 0.625rem;
  margin-bottom: 1.875rem;
  background-color: transparent;
  color: var(--text);
  border: 1px solid #404040;
}
.form__textarea:focus {
  outline: none;
  border: 1px solid var(--sub-title);
}
.form__textarea::-webkit-input-placeholder {
  color: var(--sub-title);
  font-size: 0.687rem;
}
.form__textarea::-moz-placeholder {
  color: var(--sub-title);
  font-size: 0.687rem;
}
.form__textarea:-ms-input-placeholder {
  color: var(--sub-title);
  font-size: 0.687rem;
}
.form__textarea::-ms-input-placeholder {
  color: var(--sub-title);
  font-size: 0.687rem;
}
.form__textarea::placeholder {
  color: var(--sub-title);
  font-size: 0.687rem;
}

.form__btn {
  display: block;
  padding: 0.562rem 1.5rem;
  margin-left: auto;
  margin-bottom: 6.25rem;
}

.backdrop__text-social {
  font-size: 1.25rem;
  color: var(--sub-title);
  margin-bottom: 0.625rem;
}

.backdrop__social-link {
  font-size: 0.937rem;
  color: var(--sub-title);
}

@media screen and (max-width: 440px) {
  .form__list {
    display: block;
  }
  .form__item {
    margin-bottom: 14px;
  }
} /*# sourceMappingURL=main.css.map */
