.advantages {
  padding-top: 4.372rem;
}
.advantages__container {
}
.advantages__title {
  margin-bottom: 2.187rem;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid #f3ffce;
    transform: rotate(180deg);
    margin-top: 2.187rem;
  }
}

.advantages__text {
  text-transform: uppercase;
  font-size: 1.875rem;
  color: var(--sub-title);
  margin-bottom: 2.187rem;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid #f3ffce;
    transform: rotate(180deg);
    margin-top: 2.187rem;
  }
}
.list {
}
.list__advantages-item {
  &:last-child::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid #f3ffce;
    transform: rotate(180deg);
    margin-top: 1.25rem;
  }
}
.list__numbers {
  font-size: 1.25rem;
  color: var(--sub-title);
  margin-bottom: 0.625rem;
}
.list__text {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  width: 82.29%;
  margin-right: 8.855%;
  margin-left: 8.855%;
}
