.header__wrapper {
  padding-top: 25px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}

.header__logo-image {
  width: 7.25rem;
  height: 2.25rem;
}
.header__btn-menu-open {
  width: 1.5rem;
  height: 2.25rem;
  fill: #04c065;

  & > use {
    fill: #04c065;
  }
}

.header__btn-mobile-menu {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background-color: transparent;
}

.header {
  position: relative;
}

.header-mobile__menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color);

  &.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-mobile__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  padding-top: 25px;
  height: 100%;
}

.header-mobile__img {
  width: 2.812rem;
  height: 2.812rem;
}

.header-mobile__btn-close {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 0;
  border: transparent;
  background-color: transparent;
  transform: translate(-50%, 0);
}

.header-mobile__title {
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 3.75rem;
  color: black;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

.header-mobile__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2.187rem;
}
.header-mobile__item {
}
.header-mobile__link {
}
.header-mobile__list-social {
}
.header-mobile__item-social {
}
.header-mobile__link-social {
}
