.services {
  padding-top: 4.375rem;
}
.services__title {
  margin-bottom: 2.187rem;
}

.services__text {
  font-size: 1.25rem;
  margin-bottom: 2.187rem;
  color: var(--sub-title);
  text-transform: uppercase;
}
.list__services-image {
  position: absolute;
  right: 0;
  bottom: 2.187rem;
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--sub-title);
  // transform: translate(0, -50%);
}

.list__item-relative {
  position: relative;
}

.list__services {
  border-top: 1px solid #f3ffce;
  padding-top: 1.25rem;
}

.list__item-after {
  margin-bottom: 1.125rem;

  &:nth-child(2)::before {
    z-index: -1;
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    min-height: 80px;

    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-37-min.png);
    background-size: 6.562rem 5rem;
    background-repeat: no-repeat;
    background-position: 68% 0;
    transform: rotate(2deg);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:last-child::before {
    z-index: -1;
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    min-height: 80px;

    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-38-min.png);
    background-size: 6.562rem 5rem;
    background-repeat: no-repeat;
    background-position: 83% 0;
  }

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border: 0.5px solid #f3ffce;
    transform: rotate(180deg);
  }
}

// ___________________________image 37______________________
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .list__item-after:nth-child(2)::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-37@2x-min.png);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx),
  (min-width: 767.98px) {
  .list__item-after:nth-child(2)::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-37@3x-min.png);
  }
}

// __________________________-image 38________________________________
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .list__item-after:last-child::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-38@2x-min.png);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx),
  (min-width: 767.98px) {
  .list__item-after:last-child::before {
    background-image: linear-gradient(
        146.53deg,
        rgba(191, 229, 95, 0.015) 36.82%,
        rgba(255, 255, 255, 0) 80.1%
      ),
      url(../../images/picture/services/Rectangle-38@3x-min.png);
  }
}

@media screen and (min-width: 767.98px) {
  .services {
    padding-top: 10rem;
  }

  .services__wrapper {
    display: flex;
    column-gap: 6.25rem;
    margin-bottom: 4.375rem;
  }

  .services__title {
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }

  .services__text {
    flex: 1 1 calc((100% - 6.25rem) / 2);
  }

  .list__services-image {
    width: 2.875rem;
    height: 2.875rem;
    right: 0;
    bottom: 0;
    transform: translate(0, -50%);
  }

  .list__item-after {
    &:nth-child(2)::before {
      top: 0;
      right: 0;
      transform: translate(0, -32.156%);
      min-height: 167px;
      background-size: 231px 167px;
      background-position: 68% 0px;
    }

    &:last-child::before {
      top: 0;
      right: 0;
      transform: translate(0, -32.156%);
      width: 100%;
      min-height: 167px;
      background-size: 231px 167px;
      background-position: 83% 0;
    }
  }
}
